@import '../theme';

:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;

  .mat-list-item.active {
    background-color: mat-color($app-primary, 50);
  }
  &:hover,
  &:focus {
    >.mat-list-item:not(.expanded) {
      background-color: mat-color($app-primary, 100) !important;
    }
  }
}

.mat-list-item {
  padding: 8px 0;
  display: flex;
  width: auto;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;

  .routeIcon {
    margin-right: 40px;
  }
}
/*
.mat-list-item-content{
  color:orange;
}

.mat-list-base .mat-list-item .mat-list-item-content,
.opernikus-menu-list-item
{

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  color:red;
}
*/

